.form {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent, black background */
  color: #000;
}

.form_opened {
  display: flex;
  justify-content: center;
  align-items: center;
}

.form__container {
  background-color: #fff;
  position: relative;
  display: flex;
  flex-direction: column;
  padding: 34px 36px 36px;
  border-radius: 10px;
  width: 358px;
}

.form__btn-close {
  position: absolute;
  top: -50px;
  right: -50px;
  cursor: pointer;
  background: transparent;
  border: none;
  padding: 0;
}

.form__btn-close-img {
  width: 40px;
  height: 40px;
  fill: #000;
}

.form__title {
  font-size: 24px;
  font-weight: 900;
  margin: 0;
  margin-bottom: 30px;
}

.form__form {
  display: flex;
  flex-direction: column;
}

.form__input {
  font-size: 14px;
  font-weight: 400;
  height: 50px;
  border: none;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  padding: 0;
  margin-bottom: 8px;
}

.form__input:focus {
  outline: none;
}

.form__btn-save {
  padding: 0;
  background-color: #000;
  color: #fff;
  border-radius: 2px;
  border: none;
  margin-top: 40px;
  height: 50px;
  font-size: 18px;
  font-weight: 400;
}

@media (max-width: 600px) {
  .form__btn-close {
    top: -63px;
    right: 0px;
  }

  .form__container {
    width: 238px;
    padding: 25px 22px;
    margin: 0 19px;
  }

  .form__title {
    font-size: 18px;
  }

  .form__btn-save {
    height: 46px;
  }
}

@media (max-width: 320px) {
  .form__container {
    width: 90%;
  }
}
