.page {
  font-family: 'inter', sans-serif;
  background: #000;
  color: #fff;
}

.page__content {
  max-width: 880px;
  padding: 45px 30px 60px;
  margin: auto;
  min-height: 100vh;
}

@media screen and (max-width: 780px) {
  .page__content {
    padding: 28px 30px 36px;
  }
}

@media screen and (max-width: 320px) {
  .page__content {
    padding: 28px 0px 36px;
  }
}
